@import "_flexbox";

// Grid

@grid-base: 32px;
@grid-font-size: 22px;

.grid(@all) {
  .grid(@all, @all, @all, @all);
}

.grid(@v, @h) {
  .grid(@v, @h, @v, @h);
}

.grid(@top, @sides, @bottom) {
  .grid(@top, @sides, @bottom, @sides);
}

.grid(@top, @right, @bottom, @left) {
  margin-top: @top * @grid-base;
  margin-right: @right * @grid-base;
  margin-bottom: @bottom * @grid-base;
  margin-left: @left * @grid-base;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: @grid-base;
}

article {
  padding: 2 * @grid-base;

  @media screen and (max-width : 480px) {
    padding: @grid-base @grid-base / 2 @grid-base * 2;
  }

  & > * {
    .flexbox(column, center, center);

    & > * {
      width: 20 * @grid-base;
      max-width: 100%;
    }
  }

  footer > *:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 1.2 * @grid-font-size;
  line-height: 1.5 * @grid-base;

  .grid(0.25, 0, 0.25);
}

h2 {
  font-size: 1.75 * @grid-font-size;
  line-height: 2 * @grid-base;

  .grid(0, 0, 1);

  @media (max-width : 480px) {
    font-size: 1.333 * @grid-font-size;
    line-height: 1.5 * @grid-base;

    .grid(0, 0, 0.5);
  }
}

h3 {
  font-size: 1.2 * @grid-font-size;
  line-height: 2 * @grid-base;

  .grid(1, 0, 0);

  @media (max-width : 480px) {
    font-size: 1.1 * @grid-font-size;
    line-height: 1.5 * @grid-base;

    .grid(0.5, 0, 0);
  }
}

p, ul, blockquote, table, .highlight, .image {
  font-size: @grid-font-size;
  line-height: @grid-base;

  .grid(0, 0, 1);

  @media (max-width : 480px) {
    font-size: 0.8 * @grid-font-size;

    .grid(0, 0, 0.5);
  }
}

@media (max-width : 480px) {
  ul {
    padding-left: @grid-base;
  }
}

sup, sub {
  line-height: 0;
}

table {
  border-spacing: 0;
}

.image {
  width: auto;
  .grid(0, 0, 1);

  img {
    max-width: 100%;
  }
}

.embed {
  width: 22 * @grid-base;
  margin-bottom: 1 * @grid-base;

  border-radius: 3px;
  overflow: hidden;

  &.large {
    width: 30 * @grid-base;
  }

  * {
    width: 100%;
    height: 100%;
  }
}

.highlight, table {
  padding: 1 * @grid-base;
  width: 22 * @grid-base;

  @media (max-width : 480px) {
    padding: 0.25 * @grid-base;

    .grid(0, -0.25, 0.5);
  }

  overflow-x: auto;
}

blockquote {
  border-left: @grid-base / 4 solid rgba(255, 255, 255, 0.333);
  padding-left: @grid-base / 4;

  & > *:last-child { margin-bottom: 0; }
}

small, aside {
  font-size: 0.9 @grid-font-size;
  line-height: 100%;
}

.page {
  .flexbox(column, center, center);

  padding: 0 2 * @grid-base;

  @media screen and (max-width : 480px) {
    padding: 0 @grid-base / 2;
  }

  nav {
    display: block;

    .flexbox(row, flex-start, center);

    width: 20 * @grid-base;
    max-width: 100%;

    @media screen and (max-width : 480px) {
      padding: 0;
    }
  }
}

header.page {
  nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    h1 {
      display: block;

      .flex(1, 1, auto);
    }

    ul {
      display: block;

      li {
        display: inline;
        line-height: 1.5 * @grid-base;

        margin-left: 4px;
        margin-right: 4px;

        @media (max-width : 480px) {
          font-size: @grid-font-size;
        }
      }
    }

    .ss-icon {
      position: relative;
      top: 4px;
    }

    a {
      text-decoration: none;
    }
  }
}

footer.page {
  nav {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  .previous, .next {
    margin: 0;

    .flex(1, 1, auto);

    text-align: center;

    font-size: @grid-font-size;
    line-height: 2 * @grid-base;
  }
}

// Fonts

body {
  font-family: "freight-sans-pro", "Helvetica Neue", sans-serif;
  font-size-adjust: 0.45;
  font-weight: 400;

  b {
    font-weight: 500;
  }
}

h1, h2, h3 {
  font-family: "freight-sans-pro", "Helvetica Neue", sans-serif;
  font-size-adjust: 0.47;
  font-weight: 400;

  a { text-decoration: none; }
}

code {
  font-family: inherit;
  font-size: inherit !important;
  overflow: hidden;
}

h1 .ss-icon, h2 .ss-icon {
  font-size: 1.3 * @grid-font-size;
  line-height: @grid-font-size / 2;

  position: relative;
  top: 1px;

  color: rgba(255, 255, 255, 0.5);

  @media (max-width : 480px) {
    font-size: @grid-font-size;
  }
}

h1 a.ss-icon:hover, h2 a.ss-icon:hover {
  color: rgba(255, 255, 255, 1.0);
}

a, a:visited {
  color: inherit;
}

body {
  color: white;
}

.img-wrapper {
  display: inline-block;

  border-radius: 3px;
  background: white;

  margin: 0 auto @grid-base;
}

.float {
  &.left {
    float: left;
  }

  &.right {
    float: right;
  }
}

.white.background, .highlight, table {
  border-radius: 3px;
  background: white;
  color: black;
}
