/* Symbolset Font */
@charset "UTF-8";

@font-face {
  font-family: "SSStandardRegular";
  src: url('/fonts/ss-standard.eot');
  src: url('/fonts/ss-standard.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ss-standard.woff') format('woff'),
       url('/fonts/ss-standard.ttf') format('truetype'),
       url('/fonts/ss-standard.svg#SSStandardRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ss-icon {
  font-family: "SSStandardRegular";
  font-family: "SSStandardRegular";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;

  -webkit-font-feature-settings: "liga",  "dlig";
  -moz-font-feature-settings:    "liga=1, dlig=1";
  -moz-font-feature-settings:    "liga",  "dlig";
  -ms-font-feature-settings:     "liga",  "dlig";
  -o-font-feature-settings:      "liga",  "dlig";
  font-feature-settings:         "liga",  "dlig";
}

.ss-icon a {
  font-weight: normal;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section video {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

small {
  font-size: 0.75em;
}

img {
  border: none;
}

input, select, textarea {
  font: inherit;
}

/* Sane box layout */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Vertical rhythm */
html {
  font: 17px/1.5em sans-serif;
}

h1 {
  font-size: 2.0rem;
  line-height: 3.0rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 3.0rem;
}

h3 {
  font-size: 1.7rem;
  line-height: 3.0rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

fieldset, h1, h2, h3, h4, h5, h6, hgroup, hr, img, ol, p, pre, table, ul {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

/* Layout */

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 14rem;

  padding: 2rem 1em 2em 2em;

  color: rgba(0, 0, 0, 0.6);
}

aside ul.bubbles {
  margin: 0;
}

aside ul.bubbles li {
  display: inline-block;
  margin:  0 0.5rem 1rem 0;
}

aside ul.bubbles a {
  display: block;

  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.6);
  color: white;

  width:   3rem;
  height:  3rem;
  padding: 0.9rem 0.8rem;
  font-size: 1.5rem;

  text-align:  center;
  text-decoration: none;
}

aside ul.bubbles a:hover {
  -webkit-transform: scale(1.1);
}

#main article {
  padding: 2rem 1rem 2rem 15rem;
  overflow-x: hidden;
}

#main article header, article section, article footer {
  width: 600px;
}

#main article:first-child {
  border-top:  0.5rem solid rgba(0, 0, 0, 0.6);
  padding-top: 1.5rem !important;
}

#main article:nth-child(2n) {
  background: rgba(255, 10, 00, 0.1);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color:           inherit;
  text-decoration: none;
}

.external a {
  text-decoration: underline;
}

a.link {
  color:           rgba(255, 255, 255, 0.6);
  font-size:       1.2rem;
  text-decoration: none;
  border-bottom:   none;
}

.external a.link:hover {
  color:  rgba(255, 255, 255, 1);
}

footer {
  padding: 1em 45%;
}

footer .previous, #pagination .next {
  display:         inline-block;
  color:           rgba(0, 0, 0, 0.6);
  width:           300px
  text-decoration: none;
}

footer .disabled {
  color: rgba(20, 20, 20, 0.2);
}

/* Colors */

body {
  background: #FFCC00;
}

a {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

aside h1, aside h2, aside h3, aside h4, aside h5, aside h6,
article {
  color: white;
}

article  {
  text-align: center;
}

article blockquote, article h1, article h2, article h3, article h4, article h5,
article h6, article ol, article p, article pre, article ul {
  text-align: left;
}

blockquote {
  border-left:  0.5rem solid rgba(255, 255, 255, 0.2);
  padding-left: 0.5rem;
}

img {
  position: relative;
  display:  inline-block;

  max-width: 100%;
}

/* Fonts */

h1, h2, h3, h4, h5, h6, p, li {
  font-family: "ff-meta-web-pro", Helvetica, sans-serif;
}

pre, tt, code, kbd, samp {
  font-family: Menlo, "droid-sans-mono", monospace;
  font-size:   0.95em;
}

pre {
  background: rgba(255, 255, 255, 0.9);
  color:      #000000;

  margin:        0 -1rem;
  padding:       1rem;
  border-radius: 0.5rem;

  overflow: auto;
}

/* Images */

img.left {
  float: left;
  margin: 0 0.9em 0.9em 0;
}

img.right {
  float: right;
  margin: 0 0 0.9em 0.9em;
}

.img-wrapper img, .embed img {
  border-radius: 2px;
  margin: 0;
}

/* Embeds */

.embed, .img-wrapper {
  position: relative;
  margin:   0.5em 0;
  overflow: hidden !important;
}

.embed.soundcloud, .embed.failed {
  width: 100%;
}

.embed.failed .message {
  display:  inline-block;
  margin:   0 0 0.5rem 0;

  width:  600px;
  height: 100px;

  font: 2rem/3em "ff-meta-web-pro", sans-serif;
  font-weight: 800;
  color: #333333;
  text-shadow: 0 1px 0 #FFFFFF;

  background: #f5f5f5;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow:    0 1px 4px rgba(0, 0, 0, 0.27);
  box-shadow:         0 1px 4px rgba(0, 0, 0, 0.27);
}

.embed.video > *, .embed.rich > *, .embed.photo > *, .img-wrapper > *
{
  background: white;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow:    0 1px 4px rgba(0, 0, 0, 0.27);
  box-shadow:         0 1px 4px rgba(0, 0, 0, 0.27);
}

/* Page curl for images and embeds */

.embed.video, .embed.rich, .embed.photo, .embed.failed, .img-wrapper {
  display:  inline-block;
  position: relative;

  overflow: show;
  padding: 0;
  text-align: center;
  z-index: 1;
}

.embed.video:before,  .embed.video:after,
.embed.rich:before,   .embed.rich:after,
.embed.photo:before,  .embed.photo:after,
.embed.failed:before, .embed.failed:after,
.img-wrapper:before,  .img-wrapper:after {
  position:   absolute;
  background: inherit;
  bottom:     8px;

  content: "";

  width:      70%;
  max-width:  300px;
  height:     55%;
  max-height: 100px;
  z-index: -1;
}

.embed.video:before,
.embed.rich:before,
.embed.photo:before,
.embed.failed:before,
.img-wrapper:before {
  left:  1px;
  right: auto;

  -webkit-box-shadow: 4px 6px 8px rgba(25, 25, 25, 0.4);
  -moz-box-shadow:    4px 6px 8px rgba(25, 25, 25, 0.4);
  box-shadow:         4px 6px 8px rgba(25, 25, 25, 0.4);

  -webkit-transform-origin: left bottom;
  -moz-transform-origin:    left bottom;
  -ms-transform-origin:     left bottom;
  -o-transform-origin:      left bottom;
  transform-origin:         left bottom;

  -webkit-transform: skew(-20deg) rotate(-4deg);
  -moz-transform:    skew(-20deg) rotate(-4deg);
  -ms-transform:     skew(-20deg) rotate(-4deg);
  -o-transform:      skew(-20deg) rotate(-4deg);
  transform:         skew(-20deg) rotate(-4deg);
}

.embed.video:after,
.embed.rich:after,
.embed.photo:after,
.embed.failed:after,
.img-wrapper:after {
  left:  auto;
  right: 1px;

  -webkit-box-shadow: -4px 6px 8px rgba(25, 25, 25, 0.4);
  -moz-box-shadow:    -4px 6px 8px rgba(25, 25, 25, 0.4);
  box-shadow:         -4px 6px 8px rgba(25, 25, 25, 0.4);

  -webkit-transform-origin: right bottom;
  -moz-transform-origin:    right bottom;
  -ms-transform-origin:     right bottom;
  -o-transform-origin:      right bottom;
  transform-origin:         right bottom;

  -webkit-transform: skew(20deg) rotate(4deg);
  -moz-transform:    skew(20deg) rotate(4deg);
  -ms-transform:     skew(20deg) rotate(4deg);
  -o-transform:      skew(20deg) rotate(4deg);
  transform:         skew(20deg) rotate(4deg);
}
