@font-face {
  /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
  font-family: "MuseoSlab";
  src: url("/fonts/Museo-Slab-500/Museo_Slab_500.otf") format("opentype"); }

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  margin: 0;
  padding: 0; }

body {
  font: 0.945em "Georgia", serif;
  color: #222222;
  padding: 2.7em;
  line-height: 1.75em; }

p {
  margin-top: 1.75em;
  margin-bottom: 1.75em;
  line-height: 1.75em;
  font-size: 100%; }

a, a:link, a:active, a:visited {
  color: #0066ff;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in; }

a:hover {
  color: #0052cc;
  text-decoration: underline;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out; }

a:active {
  position: relative;
  top: 1px; }

h1, h2, h3, h4 {
  font-family: "MuseoSlab", "Helvetica", sans; }
  h1 a, h1 a:link, h1 a:active, h1 a:visited, h2 a, h2 a:link, h2 a:active, h2 a:visited, h3 a, h3 a:link, h3 a:active, h3 a:visited, h4 a, h4 a:link, h4 a:active, h4 a:visited {
    text-decoration: none; }

.breadcrumb a:last-child, article p a:visited {
  color: #4073bf; }
  .breadcrumb a:last-child:hover, article p a:visited:hover {
    color: #264573; }

h1 {
  margin-top: 0.482em;
  margin-bottom: 0.321em;
  line-height: 1.606em;
  font-size: 218.0%;
  font-weight: normal; }

h2 {
  margin-top: 1.601em;
  margin-bottom: 0.534em;
  line-height: 1.067em;
  font-size: 164%;
  font-weight: normal; }

h3 {
  margin-top: 1.81em;
  margin-bottom: 0.603em;
  line-height: 1.207em;
  font-size: 145%;
  font-weight: normal; }

h4 {
  margin-top: 2.966em;
  margin-bottom: 0em;
  line-height: 1.483em;
  font-size: 118%; }

.about, blockquote {
  color: #777777;
  font-style: italic; }
  .about b, blockquote b {
    color: #333333; }
  .about a, blockquote a {
    color: #66a3ff; }
  .about a:hover, blockquote a:hover {
    color: #0066ff; }

#wrapper {
  width: auto;
  max-width: 600px;
  margin: 0 auto; }
  #wrapper iframe, #wrapper object {
    -moz-box-shadow: 0 10px 24px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 10px 24px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.4);
    margin: 0.9em 0;
    max-width: 100%; }
  #wrapper section {
    margin-bottom: 5.4em; }

#wrapper > header .about a {
  display: inline-block; }

#wrapper > footer {
  color: #777777;
  margin-top: -4.5em;
  padding-top: 0.9em;
  border-top: 1px dashed #333333;
  text-align: center; }
  #wrapper > footer P {
    font-style: italic;
    margin-top: 0.547em;
    margin-bottom: 0.547em;
    line-height: 2.188em;
    font-size: 80%; }

article header .info {
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 2.188em;
  font-size: 80%;
  width: 9em;
  margin-left: -10.8em;
  float: left;
  clear: both;
  text-align: right; }
  article header .info span {
    display: block; }
  article header .info a {
    text-decoration: none; }
article section p, article section blockquote {
  margin-top: 0.875em;
  margin-bottom: 0.875em;
  line-height: 1.75em;
  font-size: 100%; }
article section img {
  max-width: 600px; }

section.category {
  margin-bottom: 5.4em; }

.hyphenate {
  text-align: justify; }
