@import "mixins.sass"
@import "reset.scss"

$font-color: #222
$base-color: #06f
$light-text-color: #777

*
  margin:  0
  padding: 0

body
  font: ($base-font * 1.05) ff-meta-serif-web-pro, 'Georgia', serif
  color: $font-color

  padding: 3em * $base-scale
  line-height: $vertical-rhythm

  overflow: auto

p
  @include adjust-font-size(1, 1, 1)

pre, code
  font-family: droid-sans-mono, 'Menlo', mono
  background: #EEE

p code
  background: #EEE
  padding: 0 0.25em * $base-scale
  border:  1px solid #DDD
  border-radius: 3px

  @include adjust-font-size(0.9, 0.5, 0.5)

pre
  background: #EEE
  overflow: auto
  padding: 1em * $base-scale
  border-radius: 0.5em * $base-scale

pre::-webkit-scrollbar
  width:  8px
  height: 8px

pre::-webkit-scrollbar-thumb
  border-radius: 0.5em * $base-scale
  background: #CCC

pre::-webkit-scrollbar-track
  background: #EEE
  border-radius: 0.5em * $base-scale

a, a:link, a:active, a:visited
  color: $base-color

  -webkit-transition: color 0.1s ease-in
  transition: color 0.1s ease-in

a:hover
  color: darken($base-color, 10)
  text-decoration: underline

  -webkit-transition: color 0.1s ease-out
  transition: color 0.1s ease-out

a:active
  position: relative
  top: 1px

h1, h2, h3, h4
  font-family: museo-slab, serif

  a, a:link, a:active, a:visited
    text-decoration: none

.breadcrumb a:last-child, article p a:visited
  color: desaturate($base-color, 50)

  &:hover
    color: desaturate(darken($base-color, 20), 50)

h1
  @include adjust-font-size($h1-scale, 0.6, 0.4)
  font-weight: normal
h2
  @include adjust-font-size($h2-scale, 1.5, 0.5)
  font-weight: normal
h3
  @include adjust-font-size($h3-scale, 1.5, 0.5)
  font-weight: normal
h4
  @include adjust-font-size($h4-scale, 2, 0)

.about, blockquote, .info
  color: $light-text-color
  font-style: italic

  b
    color: lighten(black, 20)
  
  a
    color: lighten($base-color, 20)
  a:hover
    color: darken(lighten($base-color, 20), 20)

#wrapper
  width:      auto
  max-width:  600px

  margin: 0 auto

.about
  margin-bottom: 3em * $base-scale

footer.page
  color: $light-text-color

  padding-top:    1em * $base-scale
  padding-bottom: 1em * $base-scale
  text-align:    center

  font-style: italic
  
  p
    @include adjust-font-size(0.8, 0.5, 0.5)

article
  margin-bottom: 4em * $base-scale
  
  .info
    display: block
    @include adjust-font-size(0.8, 0.5, 0.5)

    a
      text-decoration: none

  section
    clear: both

    text-align: center

    *:not(div)
      text-align: left

    p, blockquote, .embed.wikipedia
      @include adjust-font-size(1, 0.5, 0.5)

    img
      max-width: 600px

section.category
  margin-bottom: 6em * $base-scale

.hyphenate
  p, blockquote, .embed.wikipedia
    text-align: justify

img
  display: inline-block

.embed.video, .embed.rich, .embed.photo:not(.xkcd), .img-wrapper
  display: inline-block

  @include curled-shadow()

  max-width: 100%
  text-align: center

.embed.youtube
  object
    display: inline-block

.embed.wikipedia
  color: $light-text-color

  p
    font-style: italic

    b
      color: $font-color
    a
      color: lighten($base-color, 20)
    a:hover
      color: darken(lighten($base-color, 20), 20)

  &:after
    content:    "From wikipedia, the free encyclopedia"
    color:      $font-color
