@import "mixins.sass"
@import "fonts.sass"
@import "reset.scss"

$font-color: #222
$base-color: #06f
$light-text-color: #777

*
  margin:  0
  padding: 0

body
  font: ($base-font * 1.05) 'Georgia', serif
  color: $font-color

  padding: 3em * $base-scale
  line-height: $vertical-rhythm

  position: absolute
  top:           0px
  right:        10px
  bottom:        0px
  left:          0px

  overflow: auto

p
  @include adjust-font-size(1, 1, 1)

a, a:link, a:active, a:visited
  color: $base-color

  -webkit-transition: color 0.1s ease-in
  transition: color 0.1s ease-in

a:hover
  color: darken($base-color, 10)
  text-decoration: underline

  -webkit-transition: color 0.1s ease-out
  transition: color 0.1s ease-out

a:active
  position: relative
  top: 1px

h1, h2, h3, h4
  font-family: 'MuseoSlab', 'Helvetica', sans

  a, a:link, a:active, a:visited
    text-decoration: none

.breadcrumb a:last-child, article p a:visited
  color: desaturate($base-color, 50)

  &:hover
    color: desaturate(darken($base-color, 20), 50)

h1
  @include adjust-font-size($h1-scale, 0.6, 0.4)
  font-weight: normal
h2
  @include adjust-font-size($h2-scale, 0.5, 0.5)
  font-weight: normal
h3
  @include adjust-font-size($h3-scale, 1.5, 0.5)
  font-weight: normal
h4
  @include adjust-font-size($h4-scale, 2, 0)

.about, blockquote, .info
  color: $light-text-color
  font-style: italic

  b
    color: lighten(black, 20)
  
  a
    color: lighten($base-color, 20)
  a:hover
    color: darken(lighten($base-color, 20), 20)

#wrapper
  width:      auto
  max-width:  600px

  margin: 0 auto

.about
  margin-bottom: 3em * $base-scale

footer.page
  color: $light-text-color

  padding-top:    1em * $base-scale
  padding-bottom: 1em * $base-scale
  text-align:    center

  font-style: italic
  
  p
    @include adjust-font-size(0.8, 0.5, 0.5)

article
  margin-bottom: 4em * $base-scale
  
  .info
    display: block
    @include adjust-font-size(0.8, 0.5, 0.5)

    a
      text-decoration: none

  section
    clear: both

    text-align: center

    p, blockquote, li, h1, h2, h3, h4, h5, h6
      text-align: left
    p, blockquote
      @include adjust-font-size(1, 0.5, 0.5)

    img
      max-width: 600px

section.category
  margin-bottom: 6em * $base-scale

.hyphenate
  p, blockquote
    text-align: justify

img
  display: inline-block

.embed.video, .embed.rich, .imgwrapper
  display: inline-block

  @include curled-shadow()

  max-width: 100%
  text-align: center

.embed.youtube
  object
    display: inline-block