# Rewrite the host to robb.is
RewriteEngine On
RewriteCond %{HTTP_HOST} !=robb.is
RewriteRule (.*) http://robb.is/$1 [R=302,L]

# Cache for 2 hours
<filesMatch ".(html|css|js)$">
Header set Cache-Control "max-age=7200, must-revalidate"
</FilesMatch>

# Cache for one week
<filesMatch ".(woff|)$">
Header set Cache-Control "max-age=604800, must-revalidate"
</FilesMatch>

# Enable compression
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript

# Redirects
Redirect 301 /ludum-dare /hacking-on/neukoelln-nights

Redirect 301 /working-on/my-talk-for-uikonf-2013 /speaking-at/uikonf-2013
