---
layout: default
---

{% for post in paginator.posts %}
  {% include preview.html %}
{% endfor %}

<footer class="page">
  <nav>
    {% if paginator.next_page %}
    <p class="next">
      <a class="previous" href="/page{{paginator.next_page}}">
        <span class="title">Older Posts</span>
      </a>
    </p>
    {% endif %}

    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <p class="next">
      <a href="/">
        <span class="title">Newer Posts</span>
      </a>
    </p>
    {% else %}
    <p class="next">
      <a class="next" href="/page{{paginator.previous_page}}">
        <span class="title">Newer Posts</span>
      </a>
    </p>
    {% endif %}
    {% endif %}
  </nav>
</div>
