<aside>
  <h1>
    <a href="/">robb.is</a>
  </h1>

  <p class="light">
    Hi my name is Robb.
    I'm a 24-year old developer from Berlin.
    <span class="only desktop ipad">
      <br><br class="only desktop">
      I work at SoundCloud where I look after the iOS and Android applications.
      <br>
    </span>
    <a href="/who-exactly?">More about me</a>
  </p>

  <ul class="bubbles desktop only">
    <li>
      <a class="icon ss-circle" href="https://github.com/robb" title="My GitHub account">Octocat</a>
    </li>

    <li>
      <a class="icon ss-circle" href="mailto:robb@robb.is" title="My e-mail address">Mail</a>
    </li>

    <li>
      <a class="icon ss-circle" href="https://twitter.com/ceterum_censeo" title="My Twitter profile">Twitter</a>
    </li>

    <li>
      <a class="icon ss-circle" href="/atom.xml" title="This page's RSS feed">RSS</a>
    </li>
  </ul>
</aside>
