<aside>
  <h1>
    <a href="/">robb.is</a>
  </h1>

  <p class="light">
    Hi my name is Robb.
    I'm a 24-year old developer from Berlin.
    <span class="only desktop ipad">
      <br><br class="only desktop">
      I work at SoundCloud where I look after the iOS and Mac applications.
      <br>
    </span>
    <a href="/who-exactly?">More about me</a>
  </p>

  <ul class="bubbles desktop only">
    <li class="ss-social">
      <a href="https://twitter.com/ceterum_censeo">Twitter</a>
    </li>

    <li class="ss-social">
      <a href="https://github.com/robb">Github</a>
    </li>

    <li class="ss-icon">
      <a href="mailto:robb@robb.is">Mail</a>
    </li>

    <li class="ss-icon">
      <a href="/atom.xml">RSS</a>
    </li>
  </ul>
</aside>
