<header class="page">
  <nav>
    <h1>
      <a href="/">robb.is</a>
    </h1>
    <ul>
      <li>
        <a href="/who-exactly">about</a>
      </li>
      <li>
        <a href="mailto:robb@robb.is" class="ss-icon">email</a>
      </li>
      <li>
        <a href="https://github.com/robb" class="ss-icon ss-social-regular">github</a>
      </li>
      <li>
        <a href="https://twitter.com/ceterum_censeo" class="ss-icon ss-social-regular">twitter</a>
      </li>
    </ul>
  </nav>
</header>
