{% for post in paginator.posts %}
  {% if forloop.last %}
    {% if post.color %}
      {% capture color %}#{{post.color }}{% endcapture%}
    {% else %}
      {% assign color = 'rgba(255, 10, 00, 0.1)' %}
    {% endif %}
  {% endif %}
{% endfor %}

<footer style="background: {{ color }}">
  <nav>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a class="ss-icon previous" href="/">previous</a>
      {% else %}
      <a class="ss-icon previous" href="/page{{paginator.previous_page}}">previous</a>
      {% endif %}
    {% else %}
      <span class="ss-icon previous disabled">
        previous
      </span>
    {% endif %}


    {% if paginator.next_page %}
    <a class="ss-icon next" href="/page{{paginator.next_page}}">
      next
    </a>
    {% else %}
    <span class="ss-icon next disabled">
      next
    </span>
    {% endif %}
  </nav>
</footer>
