<article class="post preview">
  <header>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  </header>
  <section class="hyphenate">
      {{ post.content }}
  </section>
  <footer>
    <div class="info">
      {% if post.date %}
      <span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
      {% endif %}
      {% if post.category %}
      <span class="category">
        in <a href="/{{ page.category }}">{{ post.category }}</a>
      </span>
      {% endif %}
    </div>
  </footer>
</article>
