{% capture id %}post-{{ post.title | downcase | replace: ' ','-' }}{% endcapture%}

<article
  id="{{ id }}"
  class="{% if include.fill %}fill-page {% endif %}"
  style="{% if post.color %}background-color: #{{ post.color }};{% endif %}
         {% if post.text_color %}color: #{{ post.text_color }};{% endif %}"
  {% if post.color %}data-color="{{ post.color }}"{% endif %}>
  <header>
    {% if post.link %}
    <h2 class="external">
      <a href="{{ post.link }}">{{ post.title }}</a>
      <a class="ss-icon link" href="{{ post.url | remove: 'index.html' }}" title="Permalink to {{ post.title }}">link</a>
    </h2>
    {% else %}
    <h2>
      <a href="{{ post.url | remove: 'index.html' }}">{{ post.title }}</a>
    </h2>
    {% endif %}
  </header>

  <section class="content hyphenate">
    {% if content %}
      {{ content }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </section>

  {% capture day %}{{ post.date | date: '%d' }}{% endcapture %}

  {% if day == '01' or day == '21' or day == '31' %}
  {% assign sup = 'st' %}
  {% elsif day == '02' or day == '22' or day == '32' %}
  {% assign sup = 'nd' %}
  {% else %}
  {% assign sup = 'th' %}
  {% endif %}

  {% if post.category %}
  <footer>
    <p>
      <small>
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
          {{ post.date | date: '%d %B %Y'}}
        </time>
        in
        <a href="/{{ post.category}}">
          {{ post.category}}
        </a>
      </small>
    </p>
  </footer>
  {% endif %}
</article>
