{% capture id %}post-{{ post.title | downcase | replace: ' ','-' }}{% endcapture%}

<article id="{{ id }}" {% if post.color %}style="background: #{{ post.color }}" data-color="{{ post.color }}"{% endif %}>
  {% if post.link %}
  <h2 class="external">
    <a href="{{ post.link }}">{{ post.title }}</a>
    <a class="ss-icon link" href="{{ post.url | remove: 'index.html' }}">
      link
    </a>
  </h2>
  {% else %}
  <h2>
    <a href="{{ post.url | remove: 'index.html' }}">{{ post.title }}</a>
  </h2>
  {% endif %}

  <section class="hyphenate">
    {% if content %}
      {{ content }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </section>
</article>
