<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Robert Böhnke">
    <meta name="publisher" content="Robert Böhnke">
    <meta name="copyright" content="Robert Böhnke">

    {% if page.category %}{% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="{{ page.content | strip_html | truncatewords 45 }}" />
    {% endif %}{% endif %}

    <meta name="keywords" content="Robert Böhnke, Robb Böhnke, Robb, Rob Böhnke, developer, Berlin, SoundCloud, Music, Hackday,">
    <meta http-equiv="content-language" content="en-us">
    <link rel="alternate" type="application/atom+xml" href="http://robb.is/atom.xml" />
    <title>
      {% if page.title %} {{ page.title }} - {% else %} Robb is {% endif %} Robert B&ouml;hnke
    </title>

    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title %} {{ page.title }} {% else %} robb.is {% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:site_name" content="robb.is" />
    {% if page.category %}{% if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
    {% else %}
    <meta property="og:description" content="{{ page.content | strip_html | truncatewords 45 }}" />
    {% endif %}{% endif %}
    {% if page.image %}
    <meta property="og:image" content="{{ page.image }}">
    {% endif %}

    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/default.css" />

    <script type="text/javascript" src="/js/oEmbed.js"></script>
    <script type="text/javascript" src="/js/hyphenator.js" async></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20850973-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="http://use.typekit.com/eia0osi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% if page.color %}
    <style type="text/css">
      body {
        background: #{{ page.color }};
      }
    </style>
    {% endif %}
  </head>
  <body>
    {% include aside.html %}

    <section id="main">
      {{ content }}
    </section>
  <script type="text/javascript">
    oEmbed.config['soundcloud.com'] = {
      {% if page.color %}
      'color': '{{ page.color }}'
      {% else %}
      'color': 'CC6633'
      {% endif %}
    };

    oEmbed.config['vimeo.com'] = {
      'maxwidth': 600,
      {% if page.color %}
      'color': '{{ page.color }}'
      {% else %}
      'color': 'CC6633'
      {% endif %}
    };

    oEmbed.config['youtube.com'] = {
      'maxwidth': 600
    };

    var embeds = document.querySelectorAll('div.embed');
    for (var i = 0; i < embeds.length; i++) {
      oEmbed.embed(embeds[i]);
    }
  </script>
  </body>
</html>
